[Desktop Entry]
Version=1.1
Type=Application
Name=Network
NoDisplay=true
Comment=Configure network devices and connections
Icon=preferences-system-network
Exec=network-admin
Actions=
Categories=GNOME;GTK;Settings;System;X-GNOME-NetworkSettings;
StartupNotify=true
OnlyShowIn=Old;
