[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/daw/Desktop/db.sqlite3]
row=7
col=0

[/home/daw/Desktop/network.desktop]
row=1
col=0

[/home/daw/Desktop/userfiles.desktop]
row=4
col=0

[/home/daw/Desktop/recyclebin.desktop]
row=0
col=0

[/home/daw/Desktop/computer.desktop]
row=2
col=0

[/home/daw/Desktop/python_intro.py]
row=6
col=0

[/home/daw/Desktop/helpmanual.desktop]
row=5
col=0

[/home/daw/Desktop/settings.desktop]
row=3
col=0

